@page
@model Destination_Lajet.Pages.Organizer.Changes.EditEventModel
@{
    ViewData["Title"] = "EditEvent";
}

<h1>Edit Event</h1>

<hr />
<div class="row">
    <div class="col-md-4" style="margin:auto; margin-top:90px; background-color: #92929256;  border-radius: 15px;">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Event.EventId" />
            <div class="form-group">
                <label asp-for="Event.Title" class="control-label"></label>
                <input asp-for="Event.Title" class="form-control" />
                <span asp-validation-for="Event.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Description" class="control-label"></label>
                <input asp-for="Event.Description" class="form-control" />
                <span asp-validation-for="Event.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Place" class="control-label"></label>
                <input asp-for="Event.Place" class="form-control" />
                <span asp-validation-for="Event.Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Address" class="control-label"></label>
                <input asp-for="Event.Address" class="form-control" />
                <span asp-validation-for="Event.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Date" class="control-label"></label>
                <input asp-for="Event.Date" class="form-control" />
                <span asp-validation-for="Event.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.SpotsAvailable" class="control-label"></label>
                <input asp-for="Event.SpotsAvailable" class="form-control" />
                <span asp-validation-for="Event.SpotsAvailable" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-center">
                <input class="m-2 btn btn-primary align-self-center" type="submit" value="Save" />
            </div>

        </form>
        <a class="m-2 btn btn-primary align-self-center" asp-page="/Index">BACK TO LIST</a>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
